.header{
    background-color: rgb(130, 69, 253);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nome_professor{
    color: aliceblue;
}

.sair{
    font-size: 1.5rem;
    color: aliceblue;
    cursor: pointer;
}

.sair:hover{
    color: brown;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}