html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    color: black;
    letter-spacing: 1.6px;
    font-weight: 600;
    font-style: normal;
}

ul, li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.cadastrar_atividade {
    background-color: rgb(130, 69, 253);
    color: antiquewhite;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}

.cadastrar_atividade:hover {
    background-color: rgb(85, 5, 245);
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead th, tbody td {
    border: 1px solid #ddd; /* Adiciona borda a todas as células da tabela */
    padding: 8px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Adiciona cor de fundo para linhas pares */
}

tbody tr:hover {
    background-color: #ddd; /* Adiciona cor de fundo ao passar o mouse */
}

button {
    background-color: rgb(130, 69, 253);
    color: antiquewhite;
    padding: 0.5rem;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(85, 5, 245);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

.lista_turmas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}